{
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "trailingComma": "none",
  "jsxSingleQuote": true,
  "jsxBracketSameLine": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleAttributePerLine": true,
  "tailwindFunctions": ["twMerge"],
  "tailwindConfig": "./tailwind.config.ts",
  "organizeImports": true,
  "importOrder": [
    "^(next/(.*)$)|^(next$)",
    "<THIRD_PARTY_MODULES>",
    "^@/hooks/(.*)$",
    "^@/components/(.*)$",
    "^@/types/(.*)$",
    "^@/schemas/(.*)$",
    "^@/styles/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ]
}
